.row-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row-guess {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.per-character {
  border: 1px solid rgb(208, 208, 208);
  background-color: rgb(231, 231, 231);
  height: 80px;
  width: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  border-radius: 4px;
}

.correct {
  background-color: #6aaa64;
  color: white;
  border-color: #6aaa64;
}

.misplaced {
  background-color: #c9b458;
  color: white;
  border-color: #c9b458;
}

.incorrect {
  background-color: #e83a3a;
  color: white;
  border-color: #e83a3a;
}