.guess-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.input-box {
  width: 500px;
  height: 50px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
